

<div class="categories">
	<% @categories.each do |category| %>
		<%= link_to category.name, category, class: "cat", id:"#{category.id}" %>
	<% end %>
</div>
<div class="categories">
	<%= form_tag search_index_path, class: 'search', id: 'search-form', :method => :get do %>
		<div id="city">
			<%= text_field_tag :city, params[:city], class: "form-control medium typeahead"%>
		</div>
		<div id="the-basics">
			<%= text_field_tag :search, params[:search], class: "form-control medium typeahead"%>
		</div>
    		<%= submit_tag "Search Bar", :name => nil, class: "btn btn-default " %>
 	<% end %>
 </div>




<%= link_to 'Distance', distance_path, id:'distance' %>
<%= link_to 'Popularity', popularity_path, id:'popularity' %>

<div class="clear">
	<div class="left">
	<% if @users != nil && @users %>
		<%= render 'users/map' %>
	<% else %>
		<%= render 'users/error' %>
	<% end %>
	</div>
	<div class="right mini transitions-enabled masonry"  id="mini-profiles">
	<% @users.each do |user| %>
	<% next if user.id == user_id %>
		<div class="profile boxes" id="profile<%= user.id %>" data-reviews="<%= user.received_reviews.count %>"  data-distance="<%= user.distance(current_user) %>">
			<img class="avatar" src="<%= user.avatar %>" alt="profile-picture" >
			<p class="green">
			<%= link_to user.first_name, user, class:"yellow" %> lives 
			 <%= user.distance(current_user) %> miles from you</p>
			 <p>Has 
			 <%= user.received_reviews.count %>
			 recieved reviews </p>
			<br>
			<% user.categories.uniq.each do |category| %>
					<ul class="skill-show"><p class="aq"><%= category.name %></p>
					<% category.skills.each do |skill| %>
						<% user.skills.each do |userskill| %>
							<% if skill == userskill %>
								<li><%= skill.name %></li>
							<% end %>
						<%end%>
					</ul>
					<% end %>
			<% end %>
			<br>
			<p class="aq">Why do I want to teach?</p>
			<br>
			<%= user.description %>
		</div>
	<% end %>
	</div>
</div>




