<main class="mediums">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<div id="profile-pic-box">
				<header>
					<br>
					<br>
  				<br>
	  			<br>
				<img src="<%= @user.avatar %>" alt="profile-picture">
				<br>
				<br>
					<div class="boxes left bl">
		    			<p><b>Occupation </b> <%= @user.occupation %></p>
						<p><b>Education </b> <%= @user.education.capitalize %></p>
		    			<p><b>Bio </b> <%= @user.description %></p>
		    			<% if current_user == @user %>
		    				<br>
		    				<%= link_to 'Edit', edit_user_path(@user), class:'right' %>
		    			<% end %>
		    		</div>
				</header>
			</div> 
		</div> 
		<div class="col-md-6">
  		<br>
  		<br>
  		<br>
			<h1><%= @user.full_name %></h1>
			<h3><%= @user.city_state %></h3>
			<% if current_user == @user %>
  				<%= link_to "Edit your profile", edit_user_path %>
  			<% end %>
	  		<br>
	  		<br>
	  		<br>
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane fade in active" id="skills">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			    	<% @user.collections.each do |collection| %>
			    		<div class="panel panel-default"> 
							<div class="panel-heading aqq" role="tab" id="collection-<%= collection.id %>">
								<h4 class="panel-title"><%= collection.skill.name %></h4>
					    		<% if current_user && user_id != @user.id  %>
      		    			<em>Want to learn this skill from <%= @user.first_name %>? Send a message to start coordinating!</em>
					 					<%= bootstrap_form_for @request, layout: :inline, as: :request, url: user_skill_requests_path(@user, collection.skill_id), method: "post" do |f| %>
									    <%= f.text_field :content, hide_label: true, placeholder: "Write a message here" %>
								    	<%= f.submit "Request a lesson!", class: "btn btn-success" %>
										<% end %>
							    <% end %>
      		    		<% if current_user == @user %>
										<%= link_to "Edit Skill", edit_collection_path(collection), method: "get" %> |
		    						<%= link_to "Delete", collection_path(collection), method: "delete", data: { confirm: "Click OK to delete this skill." } %>
	    						<% end %>
	    						<div class="panel-body">
					      	<% @collection = collection %>
					      	<%= render 'collections/details', locals: { collection: @collection }  %>
      		    		<br>
      		    		<br>
      		    	</div>
			    		</div>
						</div>
    				<% end %>
					</div>
		    </div>
	  		<h3>Reviews:</h3>
	  			<% if  @user.received_reviews[0]  %>
				    <%@user.received_reviews.each do |review| %>
				      <div class="boxes cn hon">
					    	<img class="right" width="60" height="60" src="<%=review.sender.avatar %>" >
					    	<br>
					    	<p class="left gr"><%=review.sender.first_name %><br><em><%=time_ago_in_words(review.created_at) %><em></p>
					    	<br>
					     	<p class="padd"><%=review.content %></p>
					     	<p class="right"></p>
					     	<hr>
					    </div>
			     	<% end %>
			    <% else %>
			    	<br>
			     	<p><em>No reviews recieved</em></p>
			    <% end %>
			  </div>
			</div>
		<div class="col-md-1"></div>
	</div>
</main>

