<main>
	<div class="row">
		<div class="col-md-1"></div>
		<!-- SIDEBAR -->
		<div class="col-md-3">
			<div id="profile-pic-box">
				<img src="<%= @user.avatar %>" alt="profile-picture">
			</div>
		</div>
		<!-- MAIN CONTENT -->
		<div class="col-md-6">
			<header>
				<h1><%= @user.full_name %></h1>
				<p><%= @user.city_state %></p>
			</header>
			<!-- TABS -->
			<nav>
				<ul class="nav nav-tabs" role="tablist">
					<!-- SKILLS TAB -->
			    <li role="presentation" class="active">
			    	<a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Skills</a>
		    	</li>
					<!-- REQUESTS TAB -->
  		 <!--  	<% "if current_user && user_id == @user.id" %>
				    <li role="presentation">
				    	<a href="#requests" aria-controls="requests" role="tab" data-toggle="tab">Requests</a>
			    	</li>
		    	<% "end" %> -->
		    	<!-- REVIEWS TAB -->
			    <li role="presentation">
			    	<a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a>
		    	</li>
		    	<!-- ABOUT ME TAB -->
			    <li role="presentation">
		    	<a href="#about-me" aria-controls="About-me" role="tab" data-toggle="tab">About me</a></li>
	  		</ul>
			</nav>

			<!-- TABS CONTENT -->
		  <div class="tab-content">
		    <!-- SKILLS TAB CONTENT -->
		    <div role="tabpanel" class="tab-pane fade in active" id="skills">
		    	<!-- COLLAPSIBLE GROUP OF SKILLS -->
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			    	<% @user.collections.each do |collection| %>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="collection-<%= collection.id %>">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_collection-<%= collection.id %>" aria-expanded="true" aria-controls="collapse_collection-<%= collection.id %>">
					    		<h4 class="panel-title">
											<%= collection.skill.name %>
					    		</h4>
				        </a>
			    		</div>
		    		  <div id="collapse_collection-<%= collection.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collection-<%= collection.id %>">
					      <div class="panel-body">
      		    		<%= collection.description %>
      		    		<br>
      		    		<br>
      		    		<% if current_user && user_id != @user.id  %>
										<a href="#" class="new-request-link">Request a lesson!</a>
									
									<div style="display: block;">
					 					<%= form_for @request, as: :request, url: user_skill_requests_path(@user, collection.skill_id), method: "post" do |f| %>
									    <%= f.label :content, "Write a message" %><br>
									    <%= f.text_field :content %>
									    <%= f.submit %>
										<% end %>
							    </div>
							    <% end %>
					      </div>
					    </div>
						</div>
    				<% end %>
					</div>
		    </div>
		    <!-- REQUESTS TAB CONTENT-->
		  	<% if current_user && user_id == @user.id %>
			    <div role="tabpanel" class="tab-pane fade" id="requests">
						<div id="sent-requets">
				    	<h2>Sent requests</h2>
							<% if @user.sent_requests != nil %>
					    	<% @user.sent_requests.each do |r| %>
					    	<div class="request boxes">
					    		<% if r.accepted == nil %>
					    			<p class="btn btn-primary">Pending</p>
									<% elsif r.accepted == false %>
					    			<p class="btn btn-danger">Denied</p>
									<% else %>
					    			<p class="btn btn-success">Accepted</p>
					    		<% end %>
					    		<p>You want to learn <%= r.skill.name %> from <%= r.receiver.full_name %>.</p>
					    		<p>Sent <%= time_ago_in_words(r.created_at) %> ago</p>
					    		<%= link_to "Manage this request and chat with #{r.receiver.first_name}", request_path(r) %>
				    		</div>
					    	<% end %>
				    	<% else %>
				    		<p>You have yet to make any requests.</p>
			    		<% end %>
			    	</div>
			    	<h2>Received requests</h2>
						<% if @user.sent_requests != nil %>
				    	<% @user.received_requests.each do |r| %>
				    		<div class="request boxes">
					    		<p><%= r.sender.full_name %> wants to learn <%= r.skill.name %> from you!</p>
					    		<p>Sent <%= time_ago_in_words(r.created_at) %> ago</p>
					    		<%= button_to "Accept", request_path(r), method: "patch", class:"btn btn-success" %>
					    		<br>
					    		<%= button_to "Decline", edit_request_path(r), method: "patch", class:"btn btn-danger" %>
					    		<%= link_to "Manage this request and chat with #{r.sender.first_name}", request_path(r) %>
				    		</div>
			    		<% end %>
				    <% else %>
			    		<p>You have yet to make any requests.</p>
			    	<% end %>
			    </div>
		    <% end %>
		    <!-- REVIEWS TAB CONTENT-->
		    <div role="tabpanel" class="tab-pane fade" id="reviews">
		     <%if @user != current_user && accepted_requests?(@user) %>
		    	<%=link_to "Create review", new_user_review_path(@user) %>
		     <% end %> 
			     <%@user.received_reviews.each do |review| %>
				     <p><%=review.content %></p>
				     <p><%=review.sender.first_name %></p>
				     <p><%=time_ago_in_words(review.created_at) %></p>
				     <hr>
		     	<% end %> 
		    </div>
		    <!-- ABOUT ME TAB CONTENT -->
		    <div role="tabpanel" class="tab-pane fade" id="about-me">
		    	<br>
		    	<div class="boxes">
		    		<%= @user.description %>
		    	</div>
		    </div>
		  </div>
		</div>
		<div class="col-md-1"></div>
	</div>
</main>