<%= form_tag users_path, :method => :get do %>
<p>
  <%= text_field_tag :search, params[:search]%>
  <%= submit_tag "Search Bar", :name => nil %>

</p>
<%end%> 
<div class="categories">
<% @categories.each do |category| %>
	<%= link_to category.name, category %>
<% end %>
</div>

<div class="clear">
	<div class="left">
	<% if @teacher_by_category[0] %>
		<%= render 'users/map' %>
	<% else %>
		<%= render 'users/error' %>
	<% end %>
	</div>

	<div class="right mini">
	<% @teacher_by_category.each do |user| %>
		<div id="profile">
			<%= link_to user.first_name, user %>
			<br>
			<p>Why I want to teach?</p>
			<br>
			<%= user.description %>
		</div>
	<% end %>
	</div>
</div>