
<!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <%= link_to "Skillo", root_path %>
            </li>
            <li>
                <%= link_to "Home", users_path %>
            </li>
           
            <% if current_user %> 
            
            <li><%= link_to "Profile", current_user %></li>
            <% if !unread_messages %>
                  <li><a href="<%= requests_path%>"><i class="fa fa-envelope-o"></i></a></li>
                  <% else %>
                  <li  ><a href="<%= requests_path%>"> <i class="fa fa-envelope-o"> <%= count_messages %></i></a></li>
                  <% end %>
           
            
            <li><%= link_to "Edit Skills", new_user_skill_path(user_id) %></li>

            <li><%= link_to "Logout", logout_path %></li>
            <%else%>
            <li>
                <%= link_to "Login", login_path %>
            </li>
            <li>
                <%= link_to "Register", new_user_path %>
            </li>
            <%end%>
        </ul>
        </ul>
        </ul>
    </nav>
    

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>
</body>